<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <div th:replace="home/module/_header"></div>

    <section class="section-padding bg-white border-top border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto text-center">
                    <h1><img class="img-fluid" src="/static/front/img/404.png" alt="404"></h1>
                    <h1>抱歉! 系统发生了错误！</h1>
                    <p class="land">请联系管理员</p>
                    <div class="mt-5">
                        <a href="/" class="btn btn-success btn-lg"><i class="mdi mdi-home"></i>返回首页</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="home/module/_footer"></div>
