<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <div th:replace="home/module/_header"></div>

    <!-- Property Single Slider header -->
    <section class="section-padding bg-dark inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white">联系我们</h1>
                    <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="/">首页</a>  /  <span class="text-success">联系我们</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Property Single Slider header -->
    <!-- Property Single Slider -->
    <section class="section-padding"  style="padding: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3 class="mt-1 mb-5">联系我们</h3>
                    <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> 地址 :</h6>
                    <p>XXXXXXXXXXXXXX</p>
                    <h6 class="text-dark"><i class="mdi mdi-phone"></i> 电话 :</h6>
                    <p>+7654 87654321</p>
                    <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> 手机 :</h6>
                    <p>+86 13512345678</p>
                    <h6 class="text-dark"><i class="mdi mdi-email"></i> 电子邮箱 :</h6>
                    <p>系统@gmail.com</p>
                    <h6 class="text-dark"><i class="mdi mdi-link"></i> 网址 :</h6>
                    <p>www.系统.com</p>
                    <div class="footer-social"><span>关注我们 : </span>
                        <a href="#"><i class="mdi mdi-facebook"></i></a>
                        <a href="#"><i class="mdi mdi-twitter"></i></a>
                        <a href="#"><i class="mdi mdi-instagram"></i></a>
                        <a href="#"><i class="mdi mdi-google"></i></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <img src="/static/front/img/contact.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Property Single Slider -->
    <div th:replace="home/module/_footer"></div>
